<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.team1.dao.ChatDAO">

   <resultMap type="kr.kh.team1.model.vo.ChatRoomVO" id="ChatRoomMap">
		<id property="cr_num" column="cr_num"/>
		<result property="cr_pr_num" column="cr_pr_num"/>
		<result property="cr_me_id" column="cr_me_id"/>
		<collection property="product" ofType="kr.kh.team1.model.vo.ProductVO"
			column="cr_pr_num" select="selectProduct"/>
		<collection property="chatMessage" ofType="kr.kh.team1.model.vo.ChatMessageVO"
			column="cr_num" select="selectChatMessage"/>
	</resultMap>
	
	<!-- resultMap 조회문 -->
	<select id="selectProduct" resultType="kr.kh.team1.model.vo.ProductVO">
		select * from product where pr_num = #{cr_pr_num}
	</select>
	
	<!-- resultMap 조회문  *가장 최신 메시지만 가져옴 -->
	<select id="selectChatMessage" resultType="kr.kh.team1.model.vo.ChatMessageVO">
		select * from chat_message where cm_cr_num = #{cr_num} order by cm_time desc, cm_num desc limit 1
	</select>
   
   <select id="selectChatRoom" resultType="kr.kh.team1.model.vo.ChatRoomVO">
   		select * from chat_room where cr_pr_num = #{pr_num} and cr_me_id = #{me_id}
   </select>
   
   <!-- 채팅방 번호 + 구매자 아이디로 이루어진 채팅방 조회 -->
   <select id="selectChatRoomByUser" resultMap="ChatRoomMap">
   		select * from chat_room where cr_num = #{cr_num} and cr_me_id = #{me_id}
   </select>
   
   <!-- 채팅방 번호 + 판매자 아이디로 이루어진 채팅방 조회 -->
   <select id="selectChatRoomBySeller" resultMap="ChatRoomMap">
  		select * from chat_room left join product on pr_num = cr_pr_num 
  		where pr_me_id = #{me_id} and cr_num = #{cr_num}
   </select>
   
   <!-- 채팅방 생성 -->
   <insert id="insertChatRoom">
   		insert into chat_room(cr_pr_num, cr_me_id)
		value(#{pr_num},#{me_id})
   </insert>
   
   <!-- 채팅방 상태 생성 -->
   <insert id="insertChatRoomState">
   		insert into chat_state(cs_cr_num,cs_me_id)
   		values(#{pr_num},#{me_id})
   </insert>

   <!-- 채팅 내용 DB에 저장 -->
   <insert id="insertChat">
   		insert into chat_message(cm_cr_num, cm_me_id, cm_content, cm_time)
   		value(#{msg.cm_cr_num}, #{msg.cm_me_id}, #{msg.cm_content}, now())
   </insert>
   
   <!-- 채팅 내용 -->
   <select id="selectChatMessgeList" resultType="kr.kh.team1.model.vo.ChatMessageVO">
   		SELECT chat_room.*, message.* FROM chat_room 
		JOIN (SELECT * FROM chat_message WHERE cm_cr_num = #{cr_num} ORDER BY cm_time DESC, cm_num DESC LIMIT #{chatCount})
		AS message ON cr_num = cm_cr_num ORDER BY cm_time ASC, cm_num ASC;
   </select>
   
   <!-- 마이페이지에서 사용 할 채팅방 리스트 조회 -->
   <select id="selectChatRoomByUserList" resultMap="ChatRoomMap">
   		select * from chat_room 
			left join chat_state on cs_cr_num = cr_num 
			left join product on pr_num = cr_pr_num 
		where (cs_state = "이용중" and cs_me_id = #{me_id})
		limit #{cri.pageStart}, #{cri.perPageNum}
   </select>
   
   <!-- 회원이 채팅방 나감 업데이트 -->
   <update id="updateChatRoomStateById">
		update chat_state set cs_state = "나감" where cs_me_id = #{me_id} and cs_cr_num = #{num}
   </update>
   
   <!-- 원하는 채팅방에 해당하는 회원들의 정보 -->
   <select id="selectChatRoomState" resultType="kr.kh.team1.model.vo.ChatStateVO">
   		select * from chat_state where cs_cr_num = #{num}
   </select>
	
   <!-- 채팅방에 속한 회원들이 나간 상태면 채팅방 삭제  -->
   <delete id="deleteChatRoomByNum">
   		delete from chat_room where cr_num = #{num}
   </delete>
   
   <!-- 채팅방에 속한 회원들이 나간 상태면 채팅방 상태 삭제  -->
   <delete id="deleteChatStateByNum">
   		delete from chat_state where cs_cr_num = #{num}
   </delete>
   
   <!-- 채팅방에 속한 회원들이 나간 상태면 채팅방 메시지 삭제  -->
   <delete id="deleteChatMessageByNum">
   		delete from chat_message where cm_cr_num = #{num}
   </delete>
   
   <!-- Criteria를 위한 총 개수 -->
   <select id="selectChatRoomTotalCount" resultType="int">
   		select count(*) from chat_room left join product on pr_num = cr_pr_num 
		left join chat_state on cs_cr_num = cr_num where (cs_state = "이용중" and cs_me_id = #{me_id});
   </select>
   
   <select id="selectTotalMsgCount" resultType="int">
   		select count(*) from chat_message where cm_cr_num = #{num}
   </select>
   
   <select id="selectChatRoomIds" resultType="kr.kh.team1.model.vo.ChatRoomVO">
      select * from chat_room join chat_state on cs_cr_num = cr_num where cr_me_id = cs_me_id and cr_pr_num = #{pr_num} and cs_state = "이용중";
   </select>
</mapper>
