<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.team1.dao.MemberDAO">
	<insert id="insertMember">
		insert into member(me_id, me_pw, me_email, me_gender, me_name, me_birth, me_phone, me_addr) 
						   values(#{member.me_id}, #{member.me_pw}, #{member.me_email}, #{member.me_gender}, #{member.me_name}, #{member.me_birth}, #{member.me_phone}, #{member.me_addr})
	</insert>
	<select id="selectMember" resultType="kr.kh.team1.model.vo.MemberVO">
		select * from member where me_id = #{me_id}
	</select>
	<select id="selectMemberEmail" resultType="kr.kh.team1.model.vo.MemberVO">
		select * from member where me_email = #{email}
	</select>
	<select id="selectMemberPhone" resultType="kr.kh.team1.model.vo.MemberVO">
		select * from member where me_phone = #{phone}
	</select>
	<select id="selectMember1" resultType="kr.kh.team1.model.vo.MemberVO">
		select * from member where me_id = #{string}
	</select>
	<select id="selectUserTradeNum" resultType="int">
		select count(*) from product where
		pr_ps_state = "판매완료"
	    and (pr_buyId = #{me_id} or pr_me_id = #{me_id} )
	</select>
	<select id="selectReviewNum" resultType="int"> 
		select count(*)  from trade_review join product on tr_pr_num = pr_num  
		where (pr_me_id = #{me_id} or pr_buyId = #{me_id})
		and tr_me_id !=#{me_id}
	</select>
	<update id="updatePoint">
		update member set me_point = ((select me_point where me_id = #{userId}) + #{paymentPrice}) where me_id=#{userId};
	</update>
	<insert id="insertPayment">
		insert into payment values(#{orderUid}, #{paymentPrice}, #{userId})
	</insert>
	<update id="updateMember">
		update member set 
		me_pw=#{member.me_pw}, me_email = #{member.me_email}, me_gender = #{member.me_gender}, me_name = #{member.me_name}, 
		me_birth = #{member.me_birth}, me_phone = #{member.me_phone}, me_addr = #{member.me_addr}
		where me_id = #{member.me_id}
	</update>
	<update id="updateMemberState">
		update member set
		me_state = "탈퇴"
		where me_id = #{me_id}
	</update>
	
</mapper>
