<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.team1.dao.ProductDAO">
    <resultMap type="kr.kh.team1.model.vo.ProductVO" id="ProductMap">
			<id property="pr_num" column="pr_num"/>
			<result property="pr_mg_num" column="pr_mg_num"/>
			<result property="pr_me_id" column="pr_me_id"/>
			<result property="pr_name" column="pr_name"/>
			<result property="pr_place" column="pr_place"/>
			<result property="pr_content" column="pr_content"/>
			<result property="pr_price" column="pr_price"/>
			<result property="pr_ps_state" column="pr_ps_state"/>
			<result property="pr_basket" column="pr_basket"/>
			<result property="pr_view" column="pr_view"/>
			<result property="pr_mg_num" column="pr_mg_num"/>
			<result property="pr_date" column="pr_date"/>
			<result property="pr_buyId" column="pr_buyId"/>
			<collection property="fileList" ofType="kr.kh.team1.model.vo.FileVO"
				column="pr_num" select="selectFile"/>
	</resultMap>
	
    <select id="selectProductList" resultMap="ProductMap">
        select product.*, mg_title as pr_mg_name, tg_title as pr_tg_name from product join midgroup on pr_mg_num = mg_num 
                              join topgroup on mg_tg_num = tg_num
            <if test='cri.search != ""'>
            where (pr_name like concat('%', #{cri.search}, '%')
            or pr_content like concat('%', #{cri.search}, '%'))
            and pr_place like concat('%', #{cri.place}, '%')
            and pr_price between #{cri.minPrice} and #{cri.maxPrice}
            and  pr_mg_num = #{num}	
          </if>
          <if test='cri.search == ""'>
            where pr_price between #{cri.minPrice} and #{cri.maxPrice}
            and  pr_place like concat('%', #{cri.place}, '%')
            and  pr_mg_num = #{num}
          </if>
          <if test='cri.state =="except"'>
              and pr_ps_state != "판매완료"
          </if>

          <if test='cri.order == "desc"'>
              order by pr_price desc
          </if>

          <if test='cri.order == "asc"'>
              order by pr_price asc
          </if>

          <if test='cri.order == "pr_num"'>
              order by pr_num desc
          </if>
          <if test='cri.order == "pr_view"'>
              order by pr_view desc
          </if>
          <if test='cri.order == "pr_basket"'>
              order by pr_basket desc
          </if>
        limit #{cri.pageStart} , #{cri.perPageNum}
    </select>
    
    <select id="selectFile" resultType="FileVO">
       select * from file where fi_pr_num = #{pr_num}
    </select>

  <select id="selectProductTotalCount" resultType="int">
       select count(*) from product join midgroup on pr_mg_num = mg_num 
                            join topgroup on mg_tg_num = tg_num 
          <if test='cri.search != ""'>
          where (pr_name like concat('%', #{cri.search}, '%')
          or pr_content like concat('%', #{cri.search}, '%'))
          and pr_place like concat('%', #{cri.place}, '%')
          and pr_price between #{cri.minPrice} and #{cri.maxPrice}
          and  pr_mg_num = #{num}	
        </if>
        <if test='cri.search == ""'>
          where  pr_price between #{cri.minPrice} and #{cri.maxPrice}
          and  pr_place like concat('%', #{cri.place}, '%')
          and  pr_mg_num = #{num}
        </if>
        <if test='cri.state =="except"'>
            and pr_ps_state != "판매완료"
        </if>
  </select>
  
  <select id="selectMaxPrice" resultType="int">
    select ifnull(max(pr_price),0) from product
          <if test='cri.search != ""'>
          where (pr_name like concat('%', #{cri.search}, '%')
          or pr_content like concat('%', #{cri.search}, '%'))
          and pr_place like concat('%', #{cri.place}, '%')
          and pr_price between #{cri.minPrice} and #{cri.maxPrice}
          and  pr_mg_num = #{num}	
        </if>
        <if test='cri.search == ""'>
          where  pr_price between #{cri.minPrice} and #{cri.maxPrice}
          and  pr_place like concat('%', #{cri.place}, '%')
          and  pr_mg_num = #{num}
        </if>
        <if test='cri.state =="except"'>
            and pr_ps_state != "판매완료"
        </if>
  </select>

  <select id="selectMinPrice" resultType="int">
     select ifnull(min(pr_price),0) from product
          <if test='cri.search != ""'>
          where (pr_name like concat('%', #{cri.search}, '%')
          or pr_content like concat('%', #{cri.search}, '%'))
          and pr_place like concat('%', #{cri.place}, '%')
          and pr_price between #{cri.minPrice} and #{cri.maxPrice}
          and  pr_mg_num = #{num}	
        </if>
        <if test='cri.search == ""'>
          where  pr_price between #{cri.minPrice} and #{cri.maxPrice}
          and  pr_place like concat('%', #{cri.place}, '%')
          and  pr_mg_num = #{num}
        </if>
        <if test='cri.state =="except"'>
            and pr_ps_state != "판매완료"
        </if>
  </select>

  <select id="selectAvgPrice" resultType="int">
     select ifnull(avg(pr_price),0) from product
          <if test='cri.search != ""'>
          where (pr_name like concat('%', #{cri.search}, '%')
          or pr_content like concat('%', #{cri.search}, '%'))
          and pr_place like concat('%', #{cri.place}, '%')
          and pr_price between #{cri.minPrice} and #{cri.maxPrice}
          and  pr_mg_num = #{num}	
        </if>
        <if test='cri.search == ""'>
          where  pr_price between #{cri.minPrice} and #{cri.maxPrice}
          and  pr_place like concat('%', #{cri.place}, '%')
          and  pr_mg_num = #{num}
        </if>
        <if test='cri.state =="except"'>
            and pr_ps_state != "판매완료"
        </if>
    </select>

  <select id="selectMypagePro" resultType="kr.kh.team1.model.vo.ProductVO">
    select * from product
    join midgroup on mg_num = pr_mg_num
	join topgroup on tg_num = mg_tg_num
	where pr_me_id = #{me_id}
    <if test='clickData == "sale"'>
      and pr_ps_state = "판매중"
    </if>
    <if test='clickData == "reservation"'>
      and pr_ps_state = "예약중"
    </if>
    <if test='clickData == "saleCompleted"'>
      and pr_ps_state = "판매완료"
    </if>
  </select>

    <insert id="insertFile">
   		insert into file(fi_ori_name, fi_name, fi_pr_num)
   		values(#{file.fi_ori_name},#{file.fi_name},#{file.fi_pr_num})
    </insert>
    
    <insert id="insertProduct" useGeneratedKeys="true" keyProperty="product.pr_num">
   		insert into product(pr_mg_num, pr_me_id, pr_name, pr_place, pr_content, pr_price)
   		values( #{product.pr_mg_num},#{product.pr_me_id},#{product.pr_name},
   				#{product.pr_place},#{product.pr_content},#{product.pr_price})
    </insert>
    
    <select id="selectMidGroup" resultType="kr.kh.team1.model.vo.MidGroupVO">
    	select * from midgroup where mg_title = #{mg}
    </select>

</mapper>