<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.team1.dao.ReviewDAO">
	<select id="selectReviewProList" resultType="kr.kh.team1.model.vo.ProductVO">
		select * from product join trade_review on pr_num = tr_pr_num
					  join trade_outcome on tr_num = to_tr_num
                      where tr_me_id = #{id} &amp;&amp; (select count(*) from trade_outcome where tr_num = to_tr_num &amp;&amp; to_type = 0) = 0
	</select>
	
	<select id="selectReviewType" resultType="kr.kh.team1.model.vo.ReviewTypeVO">
		select * from review_type
	</select>
	
	<select id="selectTradeReviewNum" resultType="int">
		select count(*) from product join trade_review on pr_num = tr_pr_num
					  				 join trade_outcome on tr_num = to_tr_num
					  				 where tr_me_id = #{me_id} &amp;&amp; (select count(*) from trade_outcome where tr_num = to_tr_num &amp;&amp; to_type = 0) = 0
	</select>
	
	<select id="selectTrNum" resultType="int">
		select tr_num from trade_review where tr_pr_num = #{prNum}
	</select>
	
	<insert id="insertReview">
			insert into trade_outcome(to_rt_type, to_tr_num, to_type) 
			values
			<foreach collection="reviewType" item="reviewType" separator=",">
				(#{reviewType}, #{trNum}, 0)
			</foreach>
	</insert>
	
	<select id="selectReviewList" resultType="kr.kh.team1.model.vo.ReviewTypeVO">
		select * from review_type
	</select>
	
	<select id="selectMyReviewList0" resultType="kr.kh.team1.model.vo.TradeOutcomeVO">
		select to_num, to_rt_type, to_tr_num, to_type from trade_outcome
		join trade_review on tr_num = to_tr_num
		join product on pr_num = tr_pr_num
   		where pr_me_id = #{me_id} &amp;&amp; to_type = 0
	</select>
	
	<select id="selectMyReviewList1" resultType="kr.kh.team1.model.vo.TradeOutcomeVO">
		select to_num, to_rt_type, to_tr_num, to_type from trade_outcome
		join trade_review on tr_num = to_tr_num
		join product on pr_num = tr_pr_num
   		where pr_buyId = #{me_id} &amp;&amp; to_type = 1
	</select>
	
	<select id="selectTrNumByUserId" resultType="int">
		select tr_num from trade_review where tr_me_id = #{userId};
	</select>
	
	<select id="selectCountTradeOutcome" resultType="int">
		select count(*) from trade_outcome where to_tr_num = #{i};
	</select>
	
</mapper>