<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.team1.dao.SurportDAO">

<!-- 게시글 리스트 mapper 시작-->
<select id="selectSurportList" resultType="kr.kh.team1.model.vo.SurportVO">
    SELECT *
    FROM surport
    <!-- 
    <where>
        <if test='cris.type == "all"'>
            AND (su_title LIKE CONCAT('%', #{cris.search}, '%')
            OR su_content LIKE CONCAT('%', #{cris.search}, '%')
            OR su_me_id LIKE CONCAT('%', #{cris.search}, '%'))
        </if>
        <if test='cris.type == "title"'>
            AND (su_title LIKE CONCAT('%', #{cris.search}, '%')
            OR su_content LIKE CONCAT('%', #{cris.search}, '%'))
        </if>
        <if test='cris.type == "writer"'>
            AND su_me_id LIKE CONCAT('%', #{cris.search}, '%')
        </if>
    </where>
    ORDER BY ${cris.order} DESC
    LIMIT #{cris.pageStart}, #{cris.perPageNum}
     -->

<select id="selectSurportTotalCount" resultType="int">
    SELECT COUNT(*)
    FROM surport
    <!-- 
    <where>
        <if test='cris.type == "all"'>
            AND (su_title LIKE CONCAT('%', #{cris.search}, '%')
            OR su_content LIKE CONCAT('%', #{cris.search}, '%')
            OR su_me_id LIKE CONCAT('%', #{cris.search}, '%'))
        </if>
        <if test='cris.type == "title"'>
            AND su_title LIKE CONCAT('%', #{cris.search}, '%')
        </if>
        <if test='cris.type == "content"'>
            AND su_content LIKE CONCAT('%', #{cris.search}, '%')
        </if>
        <if test='cris.type == "writer"'>
            AND su_me_id LIKE CONCAT('%', #{cris.search}, '%')
        </if>
    </where>
     -->


<select id="selectSurportManageList" resultType="kr.kh.team1.model.vo.SurportManageVO">
	select * from suport_manage
</select>

<select id="selectUpHeadList" resultType="kr.kh.team1.model.vo.UpHeadVO">
	select * from up_head
</select>

<insert id="insertSurport">
	INSERT INTO surport (su_sm_num, su_uh_num, su_me_id, su_title, su_content)
	VALUES (#{surport.su_sm_num}, #{surport.su_uh_num}, #{surport.su_me_id}, #{surport.su_title}, #{surport.su_content})
</insert>


<update id="updateView">
	update surport set su_view = su_view + 1 where su_num = #{su_num}
</update>

<select id="selectSurport" resultType="kr.kh.team1.model.vo.SurportVO">
	select * from surport where su_num = #{su_num}
</select>

<update id="updateSurport">
	update surport set 
		su_sm_num = #{su.sm_num},
		su_uh_num = #{su.su_uh_num},
		su_title = #{su.su_title},
		su_content = #{su.su_content}
	where
		su_num = #{su.su_num}
</update>

</mapper>