<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.team1.dao.SurportDAO">

<!-- 게시글 리스트 mapper 시작-->
<select id="selectSurportList" resultType="kr.kh.team1.model.vo.SurportVO">
	select * 
		from surport
		<!-- 
		<if test='cris.type == "all"'>
			where su_title like concat('%', #{cris.search}, '%')
			or su_content like concat('%', #{cris.search}, '%')
			or su_me_id like concat('%', #{cris.search}, '%')
		</if>
		<if test='cris.type == "title"'>
  			where su_title like concat('%', #{cris.search}, '%')
  			or su_content like concat('%', #{cris.search}, '%')
  		</if>
  		<if test='cris.type == "writer"'>
  			where su_me_id like concat('%', #{cris.search}, '%')
  		</if>
  		order by ${cris.order} desc
  		limit #{cris.pageStart}, #{cris.perPageNum}
  		 -->
</select>

<select id="selectSurportTotalCount" resultType="int">
	select count(*) 
		from surport
		<!-- 
		<if test='cris.type == "all"'>
  			where su_title like concat('%', #{cris.search}, '%')
  			or su_content like concat('%', #{cris.search}, '%')
  			or su_me_id like concat('%', #{cris.search}, '%')
  		</if>
  		<if test='cris.type == "title"'>
  			where su_title like concat('%', #{cris.search}, '%')
  			or su_content like concat('%', #{cris.search}, '%')
  		</if>
  		<if test='cris.type == "writer"'>
  			where su_me_id like concat('%', #{cris.search}, '%')
  		</if>
  		 -->
</select>
<!-- 게시글 리스트 mapper 끝 페이지네이션 작업-->


<!-- 고객관리 리스트 문의사항,이용조항,사기조항,거래조항 -->
<select id="selectSurportManageList" resultType="kr.kh.team1.model.vo.SurportManageVO">
	select * from suport_manage
</select>


<!-- 고객문의 입력 -->
<insert id="insertSurport" useGeneratedKeys="true" keyProperty="surport.su_num">
	insert into surport(su_me_id, su_title, su_content)
	values(#{surport.su_me_id},#{surport.su_title},#{surport.su_content})
</insert>

<update id="updateView">
	update surport set su_view = su_view + 1 where su_num = #{su_num}
</update>

<select id="selectSurport" resultType="kr.kh.team1.model.vo.SurportVO">
	select * from surport where su_num = #{su_num}
</select>


   
</mapper>
