<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.team1.dao.TopGroupDAO">
	<resultMap type="kr.kh.team1.model.vo.TopGroupVO" id="TopGroupMap">
			<id property="tg_num" column="tg_num"/>
			<result property="tg_title" column="tg_title"/>
			<collection property="midGroupList" ofType="kr.kh.team1.model.vo.MidGroupVO"
				column="tg_num" select="selectMidGroup"/>
	</resultMap> 
	
	<select id="selectTopGroupList" resultMap ="TopGroupMap">
	    select * from topgroup
	</select>
	
	<select id="selectMidGroup" resultType="kr.kh.team1.model.vo.MidGroupVO">
		select * from midgroup where mg_tg_num = #{tg_num}
	</select>
	
	<select id="selectMidGroupListByTopGroup" resultMap ="TopGroupMap">
		select * from topgroup where tg_title = #{title}
	</select>
	
	<select id="selectSidoList" resultType="kr.kh.team1.model.vo.ZipcodeVO">
		select DISTINCT sido from zipcode
	</select>
	
	<select id="selectSigunguList" resultType="kr.kh.team1.model.vo.ZipcodeVO">
		select distinct sigungu from zipcode where sido = #{sido}
	</select>
	
	<select id="selectdongList" resultType="kr.kh.team1.model.vo.ZipcodeVO">
		select distinct H_DONG_NM from zipcode where sido = #{sido} and sigungu = #{sigungu}
	</select>
</mapper>