<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.team1.dao.TopGroupDAO">
	<resultMap type="kr.kh.team1.model.vo.TopGroupVO" id="TopGroupMap">
			<id property="tg_num" column="tg_num"/>
			<result property="tg_title" column="tg_title"/>
			<collection property="midGroupList" ofType="kr.kh.team1.model.vo.MidGroupVO"
				column="tg_num" select="selectMidGroup"/>
	</resultMap> 
	
	<select id="selectTopGroupList" resultMap ="TopGroupMap">
	    select * from topgroup
	</select>
	
	<select id="selectTopGroupListByCri" resultMap ="TopGroupMap">
		select * from topgroup limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	
	<select id="selectTopGroupTotalCount" resultType="int">
		select count(*) from topgroup
	</select>
	
	<select id="selectMidGroup" resultType="kr.kh.team1.model.vo.MidGroupVO">
		select * from midgroup where mg_tg_num = #{tg_num}
	</select>
	
	<select id="selectMidGroupListByTopGroup" resultMap ="TopGroupMap">
		select * from topgroup where tg_title = #{title}
	</select>
	
	<select id="selectSidoList" resultType="kr.kh.team1.model.vo.ZipcodeVO">
		select DISTINCT sido from addr
	</select>
	
	<select id="selectSigunguList" resultType="kr.kh.team1.model.vo.ZipcodeVO">
		select distinct sigungu from addr where sido = #{sido}
	</select>
	
	<select id="selectdongList" resultType="kr.kh.team1.model.vo.ZipcodeVO">
		select distinct H_DONG_NM from addr where sido = #{sido} and sigungu = #{sigungu}
	</select>
	
	<select id="selectdongListBySido" resultType="kr.kh.team1.model.vo.ZipcodeVO">
		select distinct H_DONG_NM from addr where sido = #{sido}
	</select>
	
	<select id="selectTopGroup" resultMap="TopGroupMap">
	   select * from topgroup where tg_num = #{num}
	</select>
	
	<select id="selectTopGroupByName" resultMap="TopGroupMap">
	   select * from topgroup where tg_title = #{name}
	</select>
	
	<insert id="insertTopGroup">
		insert into topgroup(tg_title)
		values(#{topGroup})
	</insert>
	
	<delete id="deleteTopGroup">
		delete from topgroup where tg_num = #{tg_num}
	</delete>
	
	<update id="updateTopGroup">
		update topgroup set tg_title = #{topGroup} where tg_num = #{tg_num}
	</update>
	
	<select id="selectMidGroupList" resultType="kr.kh.team1.model.vo.MidGroupVO">
		select * from midgroup where mg_tg_num = #{tg} limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	
	<select id="selectTopGroupByNum" resultType="kr.kh.team1.model.vo.TopGroupVO">
		select * from topgroup where tg_title = #{tg}
	</select>
	
	<select id="selectTotalMidGroupByTopCount" resultType="int">
		select count(*) from midgroup where mg_tg_num = #{tg}
	</select>
	
	<insert id="insertMidGroup">
		insert into midgroup(mg_tg_num, mg_title)
		values(#{tg}, #{topGroup})
	</insert>
	
	<update id="updateMidGroup">
		update midgroup set mg_title = #{topGroup} where mg_num = #{tg}
	</update>
	
	<delete id="deleteMidGroup">
		delete from midgroup where mg_num = #{tg}
	</delete>
</mapper>